@{
    ViewData["Title"] = "Counter-Strike";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в мир Counter-Strike!</h1>
    <p>Откройте для себя захватывающий мир тактических сражений и командной игры. Узнайте больше о стратегии, оружии и истории игры.</p>
    <a class="btn btn-primary" href="/Home/About">Узнать больше</a>
</div>
