html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffcc00;
}

.btn-primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
}

.btn-primary:hover {
  background-color: #e6b800;
  border-color: #e6b800;
}